<header>
  <div class="container">
    <div class="start">
      <div class="menu-bar">
        <i class="fa-solid fa-bars"></i>
      </div>
      <img
        src="assets/Images/youtube-logo.png"
        alt="youtube-logo"
        width="130"
        height="45"
      />
    </div>
    <div class="center">
      <form action="">
        <input type="search" placeholder="Search" />
        <span>
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </form>
      <span class="mic">
        <i class="fa-solid fa-microphone"></i>
      </span>
    </div>
    <div class="end">
      <span class="material-icons"> video_call </span>
      <span class="material-icons">apps</span>
      <span class="material-icons">notifications</span>
      <span class="material-icons">account_circle</span>
    </div>
  </div>
</header>
