<aside>
  <nav>
    <ul class="basic">
      <li class="nav-item active">
        <a routerLink="/Home" class="nav-link">
          <i class="material-icons"> home </i>
          <span>Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="material-icons-outlined"> explore </i>
          <span>explore</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="material-icons-outlined"> electric_bolt </i>
          <span>Shorts</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <i class="material-icons-outlined"> subscriptions </i>
          <span>Subscriptions</span>
        </a>
      </li>
    </ul>
    <ul class="library">
      <li class="nav-item">
        <a routerLink="/feed/library" class="nav-link">
          <i class="material-icons-outlined">video_library </i>
          <span>library</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/feed/history" class="nav-link">
          <i class="material-icons-outlined">history</i>
          <span>History</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/playlist"
          [queryParams]="{ list: 'WL' }"
          routerLinkActive="active"
          class="nav-link"
        >
          <i class="material-icons-outlined"> watch_later </i>
          <span>watch later</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="/playlist"
          [queryParams]="{ list: 'LL' }"
          routerLinkActive="active"
          class="nav-link"
        >
          <i class="material-icons-outlined">thumb_up</i>
          <span>Liked Videos</span>
        </a>
      </li>
    </ul>
    <ul class="subscription">
      <h3>Subscriptions</h3>
      <li class="nav-item">
        <a href="" class="nav-link">
          <img src="assets/Images/channel/zilla.jpg" alt="Zilla" />
          <span>Codezilla</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <img src="assets/Images/channel/online.jpg" alt="online" />
          <span>onlineTutorial</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <img src="assets/Images/channel/freeCode.jpg" alt="Free Code" />
          <span>Free Code Camp</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <img src="assets/Images/channel/elzero.jpg" alt="Elzero Web School" />
          <span>Elzero Web School</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <img src="assets/Images/channel/web.jpg" alt="Web Designer" />
          <span>Web Designer</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
